<div class="modal fade" id="trailerModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Looper Trailer</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form-group m-3">
                <video class="movie" width="100%" controls>
                    <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                    <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>
</div>
